<?xml version="1.0"?>
<!--
　Copyright 2025 Enactic, Inc.

　Licensed under the Apache License, Version 2.0 (the "License");
　you may not use this file except in compliance with the License.
　You may obtain a copy of the License at

　    http://www.apache.org/licenses/LICENSE-2.0

　Unless required by applicable law or agreed to in writing, software
　distributed under the License is distributed on an "AS IS" BASIS,
　WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
　See the License for the specific language governing permissions and
　limitations under the License.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="openarm_bimanual">
    <xacro:arg name="arm_type" default="v11" />
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="hardware_type" default="real" />

    <xacro:property name="arm_type" value="$(arg arm_type)" />

    <!-- Import openarm_bimanual urdf file -->
    <xacro:include filename="$(find openarm_description)/urdf/robot/${arm_type}.urdf.xacro" />

    <link name="base_link"/>
    <joint name="world_to_pedestal" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

</robot>
